[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = error

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = suggestion

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = suggestion
